/*Body, encabezado y menú para todas las páginas de saturno*/
body{
    display: flex;
    padding: 0 20px;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    background: #110E2F;
    width: 92%;
    font-size: 16px;
}

header{
    display: flex;
    width: 100%;
    padding: 5px 40px;
    align-items: center;
    flex-shrink: 0;
    justify-content: space-between;
    color: #D8AD1F;
}

.menuCont{
    display: flex;
    width: 100%;
    padding: 5px 10px;
    justify-content: center;
    align-items: flex-start;
}

.menu{
    list-style: none;
    display: flex;
    padding: 5px 10px;
    justify-content: center;
    align-items: center;
    gap: 95px;
    border-radius: 10px;
    background-color: #CAB999;
    box-shadow: 3px 5px 4px 0 rgba(202, 185, 153, 0.60);
}

.menu li{
    color: #000;
    font-family: 'Instrument Serif', Arial;
    font-weight: 400;
}

.menu a {
    text-decoration: none;
    color: #000;
}

/*Ocupa todas las paginas*/
/*Titulo que se utilizo en todas las páginas, junto con las descripciones y tipografia única para esas secciones
Configuracion de colores para cada parte de la descripción*/
.titulo{
        display: flex;
        padding: 0 10px;
        flex-direction: column;
        align-items: center;
        gap: 10px;
        align-self: stretch;
        color: #fff;
        font-family: 'Instrument Serif', Arial;

}

.titulo div{
    display: flex;
    padding: 0 30px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 10px;
}

.titulo p{
    font-size: 18px;
}

.titulo label{
    color: #D8AD1F;
    font-size: 18px;

}

/*Tabla para quiro y carta astral*/
/*Distribucion de tabla y colocacion de borde en solo unos lados de las celdas, para mostrar el diseño de linea vertical y horizontales*/
table {
    border-collapse: collapse;
    width: 80%;
    margin: 25px auto;
    color: #fff;
    text-align: center;
    font-family: 'Instrument Serif', Arial;
    font-size: 18px;
}

td{
    padding: 30px 10px;
    text-align: center;
    width: 25%;
}

.primeraSeccion{
    border-right: 1px solid#D8AD1F;
    border-bottom: 1px solid #D8AD1F;
}

.segundaSeccion{
    border-left: 1px solid #D8AD1F;
    border-bottom: 1px solid #D8AD1F;
    padding: 30px 10px;
    text-align: center;
}

.terceraSeccion{
    border-right: 1px solid#D8AD1F;
}

.cuartaSeccion{
    border-left: 1px solid #D8AD1F;
}



/*============Modificaciones para Quiro==========*/

/*Pequeñas modificaciones en la tabla, ya que contiene menos columnas*/
.tablaQuiro{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-family: 'Istok Web', Arial;
    font-size: 20px;
}

label {
    color: #D8AD1F;
    font-size: 16PX;
}

/*========Modificaciones para tarot========*/

.desImg{
    text-align: center;
}

.infoCarta{
    display: flex;
    width: 100%;
    height: 193px;
    padding: 0 10px;
    justify-content: center;
    align-items: center;
    gap: 200px;
    color: #fff;
    text-align: center;
    
}

/*===========Modificaciones para Carta Astral============*/
/*Estilo para la imagen principal y los dos textos a un lado*/
.cartaAstralImg{
    display: flex;
    height: auto;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 100px;
    color: #fff;
    font-family: 'Instrument Serif', Arial;
    font-size: 18px;
}

/*==========Pie de página para todos=======*/ 

footer{
    display: flex;
    width: 100%;
    height: 120px;
    padding: 5px 30px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background-color: #CAB999;
    font-family: 'Instrument Serif', Arial;
    font-size: 24px;
}

footer div{
    display: flex;
    padding: 5px 50px;
    gap: 50px;
    align-items: flex-start;
}