/*Configuracion de la página*/
body{
    display: flex;
    padding: 0 20px;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    background: #FBFAF8;
    width: 92%;
    font-size: 16px;
}
 /*Encabezado*/
header{
    display: flex;
    width: 100%;
    padding: 5px 40px;
    align-items: center;
    flex-shrink: 0;
    justify-content: space-between;
}
 /*Menú de la página*/
.menuCont{
    display: flex;
    width: 100%;
    padding: 5px auto;
    justify-content: center;
    align-items: flex-start;
}

.menu{
    list-style: none;
    display: flex;
    padding: 5px 10px;
    justify-content: center;
    align-items: center;
    gap: 95px;
    border-radius: 10px;
    background-color: #CAB999;
    box-shadow: 3px 5px 4px 0 rgba(202, 185, 153, 0.60);
}

.menu li{
    color: #000;
    font-family: 'Instrument Serif', Arial;
    font-weight: 400;
}

.menu a {
    text-decoration: none;
    color: #000;
}

/*Boton general */

.btnVerMas{
    padding: 15px 30px;
    border-radius: 10px;
    background-color: #CAB999;
    box-shadow: 0 4px 4px 0 rgba(202, 185, 153, 0.25);
}

/*===========Configuracion para index==============*/
.seccionHorario{
    display: flex;
    align-items: center;
    width: 100%;
    height: auto;
    background-image: url(imgFondos/imgHorario.png);
    background-repeat: no-repeat;
    background-position: center;
}

.seccionHorario div{
    display: flex;
    padding: 0.5px 48px 4.5px 28px;
    align-items: center;
    background-color: rgba(202, 169, 153, 0.50);
    color: #fff;
    font-size: 20px;
    font-family: 'Instrument Serif', Arial;
}

.titulo{
    display: flex;
    width: 100%;
    height: 60px;
    padding: 0 40px;
    align-items: center;
    gap: 30px;
    text-align: center;
    font-family:'Istok Web', Arial;
    font-size: 20px;
    font-weight: 700;
}
.titulo label{
    font-size: 35px;
    font-family: 'Island Moments', cursive;
    font-weight: 400;
}

.verMas{
    display: flex;
    width: 100%;
    height: 350px;
    padding: 30px;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    background-image: url(imgFondos/Quiromancia.jpg);
    background-position: center;
}

.carrusel{
    display: flex;
    width: 100%;
    height: 260px;
    padding: 5px;
    margin-left: 20px;
    margin-right: 20px;
    justify-content: center;
    align-items: center;
    gap: 55px;
    align-self: stretch;
    background-color: #FFF;
}

.ubicacion{
    display: flex;
    width: 100%;
    height: 300px;
    padding: 20px;
    align-items: flex-start;
    gap:250px;
    background-color: #BEAFA2;
}

.direccion{
    display: flex;
    width: auto;
    height: auto;
    padding: 10px;
    justify-content: center;
    align-items: center;
    background-color: #FFF;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    font-family:'Instrument Serif', Arial;
    font-size: 20px;
    text-align: center;
}
/*Fin de configuracion index*/

/*===========Contacto==============*/

.contenedorContacto {
    display: flex;
    justify-content: space-between;
    gap: 40px;
    margin-top: 40px;
}

.infoContacto {
    width: 40%;
}

.formularioLista {
    width: 50%;
}

.formContacto {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.formContacto label {
    display: flex;
    flex-direction: column;
    font-weight: bold;
    gap: 5px;
}

.formContacto input,
.formContacto select,
.formContacto textarea {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-family: 'Istok Web', sans-serif;
}

.formContacto textarea {
    resize: none;
}

/*Fin de configuracion de contacto*/

/*===========Pago==============*/

.contenedorPago {
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin-top: 30px;
}

.resumenCarrito {
    background-color: #f8f8f8;
    padding: 25px;
    border-radius: 8px;
}

#listaCarrito {
    list-style: none;
    padding: 0;
    margin: 20px 0;
}

#listaCarrito li {
    padding: 10px 0;
    border-bottom: 1px solid #ccc;
}

.totalPago {
    text-align: right;
    font-weight: bold;
    font-size: 18px;
}

.formPagoLista {
    background-color: #ffffff;
    padding: 25px;
    border-radius: 8px;
}

.formPago {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.formPago label {
    display: flex;
    flex-direction: column;
    font-weight: bold;
    gap: 5px;
}

.formPago input {
    padding: 10px;
    border: 1px solid #bbb;
    border-radius: 5px;
    font-family: 'Istok Web', sans-serif;
}


.formPago .btnVerMas {
    margin-top: 15px;
    width: 100%;
}

/*Fin de configuracion de Pago*/

/*===========Carrito==============*/

.contenedorCarrito {
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-top: 30px;
}

#listaCarrito {
    list-style: none;
    padding: 0;
}

#listaCarrito li {
    display: flex;
    justify-content: space-between;
    padding: 15px;
    background-color: #f5f5f5;
    margin-bottom: 10px;
    border-radius: 5px;
}

.resumenCarrito {
    text-align: right;
    font-size: 18px;
    font-weight: bold;
}

/*Fin de configuracion de carrito*/

/*===========Conquista==============*/

.bloqueConquista{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #cbbba7;
    padding: 30px;
    gap: 30px;
    margin-top: 20px;
}

.textoConquista{
    width: 70%;
    background: #f5f5f5;
    padding: 25px;
    font-size: 16px;
    line-height: 1.7;
}

.imagenConquista{
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.imagenConquista img{
    width: 100%;
    max-width: 200px;
}

.galeriaConquista{
    margin-top: 40px;
}

.galeriaWrapper{
    display: flex;
    align-items: center;
    gap: 10px;
}

.contenedorGaleria{
    display: flex;
    gap: 20px;
    overflow: hidden;
    scroll-behavior: smooth;
    width: 100%;
}

.contenedorGaleria img{
    width: 23%;
    flex-shrink: 0;
    object-fit: cover;
}

.flecha{
    font-size: 30px;
    background: none;
    border: none;
    cursor: pointer;
}

/*Fin de configuracion de conquista*/

/*Pie de página para todas */
footer{
    display: flex;
    width: 100%;
    height: 120px;
    padding: 5px 30px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background-color: #CAB999;
    font-family: 'Instrument Serif', Arial;
    font-size: 24px;
}

footer div{
    display: flex;
    padding: 5px 50px;
    gap: 50px;
    align-items: flex-start;
}