body{
    display: flex;
    padding: 0 20px;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    background: #110E2F;
    width: 92%;
    font-size: 16px;
}

header{
    display: flex;
    width: 100%;
    padding: 5px 40px;
    align-items: center;
    flex-shrink: 0;
    justify-content: space-between;
    color: #D8AD1F;
}

.menuCont{
    display: flex;
    width: 100%;
    padding: 5px 10px;
    justify-content: center;
    align-items: flex-start;
}

.menu{
    list-style: none;
    display: flex;
    padding: 5px 10px;
    justify-content: center;
    align-items: center;
    gap: 95px;
    border-radius: 10px;
    background-color: #CAB999;
    box-shadow: 3px 5px 4px 0 rgba(202, 185, 153, 0.60);
}

.menu li{
    color: #000;
    font-family: 'Instrument Serif', Arial;
    font-weight: 400;
}



















footer{
    display: flex;
    width: 100%;
    height: 120px;
    padding: 5px 30px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background-color: #CAB999;
    font-family: 'Instrument Serif', Arial;
    font-size: 24px;
}

footer div{
    display: flex;
    padding: 5px 50px;
    gap: 50px;
    align-items: flex-start;
}